[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alchql = "*"
asyncpg = "*"
SQLAlchemy = { extras = ["asyncio"], version = ">=1.4,<2" }
psycopg2-binary = "*"

[dev-packages]
pytest-asyncio = "==0.15.1"
pytest = "==6.2.5"
black = "==22.3"
pytest-mock = "==3.6.1"
coverage = { extras = ["toml"], version = "*" }

[pipenv]
allow_prereleases = true
python_version = "3.11"
